{% extends 'main.html' %}
{% block tytul %} Lista filmów {% endblock %}
{% block strona %}
{% if user.is_authenticated %}
Witam {{ user.username }} <br>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
        <a href="{% url 'nowy_film' %}">Dodaj nowy film</a>
        {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
        {% else %}
            <h2>Ilość filmów w BD: {{filmy | length }}</h2>

    {% for film in filmy %}
        <h2>{{ film }}</h2>
        <p>{{ film.description }}</p>
        <a href="{% url 'edit' film.id %}">Edytuj</a>
        <br>
        <a href="{% url 'delete' film.id %}">Usun</a>
{% endfor %}
{% endif %}
{% endblock %}